<section class="zone-disponibilites page-3">
<div class="wrapper wrapper-bg">
<h1>Quel rythme de mission?</h1>
<div class="cols">
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission sur plusieurs mois.</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>Pendant environ 6 mois, à raison de 4h/mois : un rdv hebdomadaire plutôt sympa </span>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front2">
						<div class="inner">
					<i class="fa-solid fa-clock-rotate-left"></i>
							<p>Mission rapide.</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
            <span>Pendant quelques mois (2 à 6) à raison de 2h/mois : de la flexibilité pour m'engager </span>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission sur plusieurs mois.</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>Sur toute une année scolaire, à raison d'1h-2h/mois : la continuité c'est la clé </span>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front2">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission rapide.</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>Pour 6 mois ou plus, à raison de 1h-3h/mois : de la flexibilité pour m'engager</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission sur plusieurs mois.</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>Pour 6 mois ou plus, à raison de 4h/mois : la continuité c'est la clé </span>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
</section>