<div class="wrapper">
<h1>Quel type de mission vous intéresse?</h1>
<div class="cols">
<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
                            <span>En accompagnant un jeune dans sa scolarité pour favoriser sa réussite académique </span>
					
						</div>
					</div>
					<div class="back">
						<div class="inner">

						</div>
					</div>
				</div>
			</div>
<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission sur plusieurs mois.</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>Pour 6 mois ou plus, à raison de 4h/mois : la continuité c'est la clé </span>
						</div>
					</div>
				</div>
			</div>            
<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission sur plusieurs mois.</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>Pour 6 mois ou plus, à raison de 4h/mois : la continuité c'est la clé </span>
						</div>
					</div>
				</div>
			</div>
<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission sur plusieurs mois.</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>Pour 6 mois ou plus, à raison de 4h/mois : la continuité c'est la clé </span>
						</div>
					</div>
				</div>
			</div>
<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission sur plusieurs mois.</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>Pour 6 mois ou plus, à raison de 4h/mois : la continuité c'est la clé </span>
						</div>
					</div>
				</div>
			</div>
<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission sur plusieurs mois.</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>Pour 6 mois ou plus, à raison de 4h/mois : la continuité c'est la clé </span>
						</div>
					</div>
				</div>
			</div>
<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission sur plusieurs mois.</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>Pour 6 mois ou plus, à raison de 4h/mois : la continuité c'est la clé </span>
						</div>
					</div>
				</div>
			</div>
<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission sur plusieurs mois.</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>Pour 6 mois ou plus, à raison de 4h/mois : la continuité c'est la clé </span>
						</div>
					</div>
				</div>
			</div>
<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission sur plusieurs mois.</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>Pour 6 mois ou plus, à raison de 4h/mois : la continuité c'est la clé </span>
						</div>
					</div>
				</div>
			</div>
<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission sur plusieurs mois.</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>Pour 6 mois ou plus, à raison de 4h/mois : la continuité c'est la clé </span>
						</div>
					</div>
				</div>
			</div>
<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission sur plusieurs mois.</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>Pour 6 mois ou plus, à raison de 4h/mois : la continuité c'est la clé </span>
						</div>
					</div>
				</div>
			</div>
<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission sur plusieurs mois.</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>Pour 6 mois ou plus, à raison de 4h/mois : la continuité c'est la clé </span>
						</div>
					</div>
				</div>
			</div>
<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission sur plusieurs mois.</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>Pour 6 mois ou plus, à raison de 4h/mois : la continuité c'est la clé </span>
						</div>
					</div>
				</div>
			</div>
<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission sur plusieurs mois.</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>Pour 6 mois ou plus, à raison de 4h/mois : la continuité c'est la clé </span>
						</div>
					</div>
				</div>
			</div>
<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission sur plusieurs mois.</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>Pour 6 mois ou plus, à raison de 4h/mois : la continuité c'est la clé </span>
						</div>
					</div>
				</div>
			</div>
<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission sur plusieurs mois.</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>Pour 6 mois ou plus, à raison de 4h/mois : la continuité c'est la clé </span>
						</div>
					</div>
				</div>
			</div>
</div>            
    </section>