<h1>Quel type de missions vous intéresse?</h1>

<div class="wrapper">
<div class="cols">
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission 1</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>En accompagnant un jeune dans sa scolarité pour favoriser sa réussite académique.</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front2">
						<div class="inner">
					<i class="fa-solid fa-clock-rotate-left"></i>
							<p>Mission 2</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
            <span>En accompagnant un jeune confié à l'Aide Sociale à l'Enfance pour l'aider à accéder au monde académique et professionnel.</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission 3</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>En partageant mon expérience professionnelle avec des étudiants.</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front2">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission 4</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>En cheminant avec un étudiant vers sa réussite académique et son insertion professionnelle.</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission 5</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>En tant que collaboratrice, en accompagnant des jeunes filles vers leur réussite. </span>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>

<div class="wrapper">
<div class="cols py-3">
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission 6</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>En tant que collaborateur ou collaboratrice, en mentorant un jeune de lycée professionnel pour l'aider dans son orientation.</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front2">
						<div class="inner">
					<i class="fa-solid fa-clock-rotate-left"></i>
							<p>Mission 7</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
            <span>En accompagnant un jeune confié à l'Aide Sociale à l'Enfance pour l'aider à accéder au monde académique et professionnel.</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission 8</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>En partageant mon expérience professionnelle avec des étudiants.</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front2">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission 9</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>En accompagnant un jeune, collégien ou lycéen, dans son orientation et son insertion professionnelle.</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission 10</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>En accompagnant un jeune confié à l'Aide Sociale à l'Enfance pour l'aider à accéder au monde académique et professionnel.</span>
						</div>
					</div>
				</div>
			</div>
            
		</div>
</div>

