{# <div class="row">
<h1>Quel type de mission vous intéresse?</h1>
<div class="col-12">
<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
                            <span>En accompagnant un jeune dans sa scolarité pour favoriser sa réussite académique </span>
					
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            {# <img src="{{ asset ('../images/distanciel.png')}}">
						</div>
					</div>
				</div>
			</div>
<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission sur plusieurs mois.</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>Pour 6 mois ou plus, à raison de 4h/mois : la continuité c'est la clé </span>
						</div>
					</div>
				</div>
			</div>            
<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission sur plusieurs mois.</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>Pour 6 mois ou plus, à raison de 4h/mois : la continuité c'est la clé </span>
						</div>
					</div>
				</div>
			</div>
<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission sur plusieurs mois.</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>Pour 6 mois ou plus, à raison de 4h/mois : la continuité c'est la clé </span>
						</div>
					</div>
				</div>
			</div>
<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission sur plusieurs mois.</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>Pour 6 mois ou plus, à raison de 4h/mois : la continuité c'est la clé </span>
						</div>
					</div>
				</div>
			</div>
<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission sur plusieurs mois.</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>Pour 6 mois ou plus, à raison de 4h/mois : la continuité c'est la clé </span>
						</div>
					</div>
				</div>
			</div>
<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission sur plusieurs mois.</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>Pour 6 mois ou plus, à raison de 4h/mois : la continuité c'est la clé </span>
						</div>
					</div>
				</div>
			</div>
<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission sur plusieurs mois.</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>Pour 6 mois ou plus, à raison de 4h/mois : la continuité c'est la clé </span>
						</div>
					</div>
				</div>
			</div>
<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission sur plusieurs mois.</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>Pour 6 mois ou plus, à raison de 4h/mois : la continuité c'est la clé </span>
						</div>
					</div>
				</div>
			</div>
<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission sur plusieurs mois.</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>Pour 6 mois ou plus, à raison de 4h/mois : la continuité c'est la clé </span>
						</div>
					</div>
				</div>
			</div>
<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission sur plusieurs mois.</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>Pour 6 mois ou plus, à raison de 4h/mois : la continuité c'est la clé </span>
						</div>
					</div>
				</div>
			</div>
<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission sur plusieurs mois.</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>Pour 6 mois ou plus, à raison de 4h/mois : la continuité c'est la clé </span>
						</div>
					</div>
				</div>
			</div>
<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission sur plusieurs mois.</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>Pour 6 mois ou plus, à raison de 4h/mois : la continuité c'est la clé </span>
						</div>
					</div>
				</div>
			</div>
<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission sur plusieurs mois.</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>Pour 6 mois ou plus, à raison de 4h/mois : la continuité c'est la clé </span>
						</div>
					</div>
				</div>
			</div>
<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission sur plusieurs mois.</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>Pour 6 mois ou plus, à raison de 4h/mois : la continuité c'est la clé </span>
						</div>
					</div>
				</div>
			</div>
<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission sur plusieurs mois.</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>Pour 6 mois ou plus, à raison de 4h/mois : la continuité c'est la clé </span>
						</div>
					</div>
				</div>
			</div>
</div>            
    </section> #}

{# <div class="row m-4">
<h1>Quel type de mission vous intéresse?</h1>

	<div class="container">
		<div class="col" ontouchstart="this.classList.toggle('hover');">
			<div class="col-12 col-sm-3">
				<div class="card">
					<div class="card-body">
						<div class="container">
							<div class="front">
								<div class="inner">
									<span>En accompagnant un jeune dans sa scolarité pour favoriser sa réussite académique</span>
								</div>
							</div>
							<div class="back">
								<div class="inner">
									<!-- Insérez ici votre contenu pour le verso de la carte -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
			<div class="col-12 col-sm-3">
				<div class="card">
					<div class="card-body">
						<div class="container">
							<div class="front">
								<div class="inner">
									<i class="fa-solid fa-clock-rotate-left"></i>
									<p>Mission sur plusieurs mois.</p>
								</div>
							</div>
							<div class="back">
								<div class="inner">
									<span>Pour 6 mois ou plus, à raison de 4h/mois : la continuité c'est la clé</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Ajoutez ici les autres cards avec la même structure -->
            <div class="col" ontouchstart="this.classList.toggle('hover');">
<div class="col-12 col-sm-3">
				<div class="card">
					<div class="card-body">
						<div class="container">
							<div class="front">
								<div class="inner">
									<span>En accompagnant un jeune dans sa scolarité pour favoriser sa réussite académique</span>
								</div>
							</div>
							<div class="back">
								<div class="inner">
									<!-- Insérez ici votre contenu pour le verso de la carte -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="col-12 col-sm-3">
				<div class="card">
					<div class="card-body">
						<div class="container">
							<div class="front">
								<div class="inner">
									<span>En accompagnant un jeune dans sa scolarité pour favoriser sa réussite académique</span>
								</div>
							</div>
							<div class="back">
								<div class="inner">
									<!-- Insérez ici votre contenu pour le verso de la carte -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="col-12 col-sm-3">
				<div class="card">
					<div class="card-body">
						<div class="container">
							<div class="front">
								<div class="inner">
									<span>En accompagnant un jeune dans sa scolarité pour favoriser sa réussite académique</span>
								</div>
							</div>
							<div class="back">
								<div class="inner">
									<!-- Insérez ici votre contenu pour le verso de la carte -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="col-12 col-sm-3">
				<div class="card">
					<div class="card-body">
						<div class="container">
							<div class="front">
								<div class="inner">
									<span>En accompagnant un jeune dans sa scolarité pour favoriser sa réussite académique</span>
								</div>
							</div>
							<div class="back">
								<div class="inner">
									<!-- Insérez ici votre contenu pour le verso de la carte -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
    </div> 
</div>	#}

<h1>Quel type de missions vous intéresse?</h1>
{# <div class="type-button">
<button class="btn btn-primary m-3"  type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
Mission 1<img src="/public/images/puzzle1.png">
</button>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
<div class="offcanvas-body">
    <div>
    <p>En accompagnant un jeune dans sa scolarité pour favoriser sa réussite académique. </p>
    </div>
</div>
</div>
<button class="btn btn-primary m-3"  type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
Mission 2<img src="/public/images/puzzle1.png">
</button>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
<div class="offcanvas-body">
    <div>
    <p>En accompagnant un jeune confié à l'Aide Sociale à l'Enfance pour l'aider à accéder au monde académique et professionnel.</p>
    </div>
</div>
</div>
<button class="btn btn-primary m-3"  type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
Mission 3<img src="/public/images/puzzle1.png">
</button>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
<div class="offcanvas-body">
    <div>
    <p>En partageant mon expérience professionnelle avec des étudiants.</p>
    </div>
</div>
</div>
<button class="btn btn-primary m-3"  type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
Mission 4<img src="/public/images/puzzle1.png">
</button>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
<div class="offcanvas-body">
    <div>
    En cheminant avec un étudiant vers sa réussite académique et son insertion professionnelle.
    </div>
</div>
</div>
<button class="btn btn-primary m-3"  type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
Mission 5<img src="/public/images/puzzle1.png">
</button>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
<div class="offcanvas-body">
    <div>
    En tant que collaboratrice, en accompagnant des jeunes filles vers leur réussite.
    </div>
</div>
</div>
<button class="btn btn-primary m-3"  type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
Mission 6<img src="/public/images/puzzle1.png">
</button>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
<div class="offcanvas-body">
    <div>
    En tant que collaborateur ou collaboratrice, en mentorant un jeune de lycée professionnel pour l'aider dans son orientation. 
    </div>
</div>
</div>
<button class="btn btn-primary m-3"  type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
Mission 7<img src="/public/images/puzzle1.png">
</button>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
<div class="offcanvas-body">
    <div>
    En accompagnant un jeune diplomé dans son insertion professionnelle. 
    </div>
</div>
</div>
<button class="btn btn-primary m-3"  type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
Mission 8<img src="/public/images/puzzle1.png">
</button>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
<div class="offcanvas-body">
    <div>
    En échangeant avec des jeunes engagés pour les aider à valoriser leur parcours. 
    </div>
</div>
</div>
</div> #}

<div class="wrapper">
<div class="cols">
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission 1</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>En accompagnant un jeune dans sa scolarité pour favoriser sa réussite académique.</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front2">
						<div class="inner">
					<i class="fa-solid fa-clock-rotate-left"></i>
							<p>Mission 2</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
            <span>En accompagnant un jeune confié à l'Aide Sociale à l'Enfance pour l'aider à accéder au monde académique et professionnel.</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission 3</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>En partageant mon expérience professionnelle avec des étudiants.</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front2">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission 4</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>En cheminant avec un étudiant vers sa réussite académique et son insertion professionnelle.</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission 5</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>En tant que collaboratrice, en accompagnant des jeunes filles vers leur réussite. </span>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>

<div class="wrapper">
<div class="cols py-3">
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission 6</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>En tant que collaborateur ou collaboratrice, en mentorant un jeune de lycée professionnel pour l'aider dans son orientation.</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front2">
						<div class="inner">
					<i class="fa-solid fa-clock-rotate-left"></i>
							<p>Mission 7</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
            <span>En accompagnant un jeune confié à l'Aide Sociale à l'Enfance pour l'aider à accéder au monde académique et professionnel.</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission 8</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>En partageant mon expérience professionnelle avec des étudiants.</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front2">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission 9</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>En accompagnant un jeune, collégien ou lycéen, dans son orientation et son insertion professionnelle.</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission 10</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>En accompagnant un jeune confié à l'Aide Sociale à l'Enfance pour l'aider à accéder au monde académique et professionnel.</span>
						</div>
					</div>
				</div>
			</div>
            
		</div>
</div>

<div class="wrapper">
<div class="cols py-3">
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission </p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>En tant que collaborateur ou collaboratrice, en mentorant un jeune de lycée professionnel pour l'aider dans son orientation.</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front2">
						<div class="inner">
					<i class="fa-solid fa-clock-rotate-left"></i>
							<p>Mission </p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
            <span>En accompagnant un jeune confié à l'Aide Sociale à l'Enfance pour l'aider à accéder au monde académique et professionnel.</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front front1">
						<div class="inner">
							<i class="fa-solid fa-clock-rotate-left"></i>
						<p>Mission </p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
                            <span>En partageant mon expérience professionnelle avec des étudiants.</span>
						</div>
					</div>
				</div>
			</div>
			

		</div>
</div>

