/* body {
    font-family: serif;
    background-color: #F5F5F5;
    color: black;
}

* {
    box-sizing: border-box;
}

/* SCROLL PROGRESSION  */

#Progress_Status {
  width: 100%;
  background-color: #000000;
  border-radius: 10px;
  position: fixed;
}
  
#myprogressBar {
  width: 25%;
  height: 35px;
  background-color: #ff2d2d;
  border-radius: 10px;
  text-align: center;
  line-height: 32px;
  color: black;
  transition: 2s;
  position: absolute, fixed;
}
  


/* ===========================SECTION MAP=================================== */
/* *{
    width: 100%;
} */
.map {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    max-width: 900px;
    margin: 20px auto;
    padding: 2%;
}

.map__image {
    position: absolute;
    top: 20px;
    left: 0;
    right:280px;
    bottom: 0;
}

.map__image svg {
    width: 100%;
    height: 350px;
}

.map__image path {
    fill: #330072;
    stroke: #769cb5;
    stroke-width: 1px;
    transition: fill 0.3s;
}

.map__image .is-active path {
    fill: #E9041E;
}


/* Liste*/

.map__list {
    float: right;
    width: 280px;
    border-left: 1px solid #dbdbdb;
}

.map__list ul, .map__list li{
    margin: 0;
    padding: 0;
    list-style: none;
}

.map__list a {
    padding-left: 10px;
    display: inline-block;
    height: 30px;
    width: 100%;
    line-height: 30px;
    color: inherit;
    text-decoration: none;
    transition: 0.3s;
}

.map__list a.is-active {
    color: #FC5050;
    background-color: #f4f4f4;
}

@media screen and (max-width: 720px){
    .map__list {
        float: none;
        width: 100%;
        border-left: 1px solid #dbdbdb;
    }
    .map__image{
        padding: 10px;
        position: static;
        width: 100%;
    }

}
/*====================== FIN SECTION MAP ========================= */


/* ========================= SECTION FORMAT MISSION PARALLAX CARD ========================= */

h1{
    font-size: 2rem;
    font-weight: bolder;
    font-family: 'Montserrat';
    font-weight: normal;
    color: #444;
    text-align: center;
    margin: 2rem 0;
    padding-top: 2%;
}

span{
    font-size: 1rem;
}

.wrapper{
    width: 80%;
    margin: 0 auto;
}

.wrapper-bg{
    background-color: #fff;
    padding-bottom: 5%;
    border-radius: 20px;
}


.front-mixte{
    background-image: url("../images/mixte.png");
}

.front-presentiel{
    background-image:url('../images/presentiel.png');
}

.front-distanciel{
    background-image:url('../images/distanciel.png');
}

.cols{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
}

.cols-format{
    gap: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.col{
    width: calc(25% - 2rem);
    justify-content: center;
}

.cola{
    width: calc(50% - 2rem);
    margin: 1rem;
    cursor: pointer;
}

.container{
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-perspective: 1000px;
	        perspective: 1000px;
}

.front,
.back{
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
    border-radius: 10px;
	background-position: center;
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	text-align: center;
	min-height: 280px;
	height: auto;
	border-radius: 10px;
	color: #fff;
	font-size: 1rem;
}

.back{
    background: #cedce7;
    background: -webkit-linear-gradient(45deg,  #E9041E 0%,#010035 100%);
    background: -o-linear-gradient(45deg,  #E9041E 0%,#010035 100%);
    background: linear-gradient(45deg,  #E9041E 0%,#010035 100%);
}

.front:after{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
}
.container:hover .front,
.container:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 1rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container:hover .back{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container:hover .front{
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.front .inner p{
    font-size: 1rem;
    margin-bottom: 2rem;
    position: relative;
}

.front .inner p:after{
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #C6D4DF;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
}

.front .inner span{
    color: rgba(255,255,255,0.7);
    font-family: 'Montserrat';
    font-weight: 300;
}

.front1{
    background-color: #330072;
}

.front2{
    background-color:#E9041E;
}

@media screen and (max-width: 64rem){
    .col{
    width: calc(33.333333% - 2rem);
    }
}

@media screen and (max-width: 48rem){
    .col{
    width: calc(50% - 2rem);
    }
}

@media screen and (max-width: 32rem){
    .col{
    width: 100%;
    margin: 0 0 2rem 0;
    }
}
/* FIN CODE FORMATS MISSIONS EFFET PARALLAX CARD */

/* ========================= SECTION ACCUEIL PUZZLE ========================= */
@import 'compass/css3';
 *, *:before, *:after {
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
}
 body {
	 background: #FFF3E0;
   
}
 svg {
	 width: 0;
	 height: 0;
	 display: block;
}
 .grid {
	 width: 80vmin;
	 margin: 10vmin auto;
	 display: flex;
	 flex-wrap: wrap;
	 transform-style: preserve-3d;
	 box-shadow: 0px 0px 8vmin 4vmin rgba(0, 0, 0, .1), inset 0px 0px 8vmin 4vmin rgba(0, 0, 0, .1);
	 perspective: 2000;
     background-image: url("/images/logo-sg.png");
     background-size: cover;
     background-position: center;
}
 .item-box {
	 position: relative;
	 width: 26.6666666667vmin;
	 height: 26.6666666667vmin;
	 transform-style: preserve-3d;
	 cursor: pointer;
	 transition: all 0.95s cubic-bezier(0.65, 0.05, 0.36, 1) 0.225s;

}

 .item-box:nth-child(1) .puzzle:before {
	 background-image:url("/images-logos-asso/Kodiko.jpg") ;
}
 .item-box:nth-child(2) .puzzle:before {
	 background-image: url("/images-logos-asso/Article.png");
}
 .item-box:nth-child(3) .puzzle:before {
	 background-image: url("/images-logos-asso/Duofor.png");
}
 .item-box:nth-child(4) .puzzle:before {
	 background-image: url("/images-logos-asso/CPossible.jpg");
}
 .item-box:nth-child(5) .puzzle:before {
	 background-image: url("/images-logos-asso/Capital filles.jpg");
}
 .item-box:nth-child(6) .puzzle:before {
	 background-image: url("/images-logos-asso/Institu.png");
}
 .item-box:nth-child(7) .puzzle:before {
	 background-image: url("/images-logos-asso/NQT.jpg");
}
 .item-box:nth-child(8) .puzzle:before {
	 background-image: url("/images-logos-asso/Zup de co.png");
}
 .item-box:nth-child(9) .puzzle:before {
	 background-image: url("/images-logos-asso/Proxite.png");
}
.item-box:nth-child(10) .puzzle:before {
    background-image: url("/images-logos-asso/Proxite.png");
}
 .item-box:hover {
	 transform: scale(1.25, 1.25);
	 box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, .2);
}
 .item-box:hover .puzzle {
	 transform: translateX(0) translateY(0) translateZ(1px) rotateX(0) rotateY(0);
	 opacity: 1;
}
 .item-box .item-container {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform-style: preserve-3d;
}
 .piece {
	 position: absolute;
	 width: 13.3333333333vmin;
	 height: 13.3333333333vmin;
	 transform-style: preserve-3d;
   

}

 .piece:nth-child(1) {
    transform:translateX(-100%) translateY(-100%) rotate(0deg);
}
 .piece:nth-child(1) .puzzle:before {
    background-position: 0 0;
    transform: rotate(0deg);
}	 
.piece:nth-child(2) {
    transform: translateX(0%) translateY(-100%) rotate(90deg);
}
.piece:nth-child(2) .puzzle:before {
background-position: 100% 0;
transform: rotate(-90deg);
}
.piece:nth-child(3) {
    transform: translateX(0%) translateY(0%) rotate(180deg);
}
.piece:nth-child(3) .puzzle:before {
    background-position:100% 100%;
    transform: rotate(-180deg);
}
.piece:nth-child(4) {
    transform: translateX(-100%) translateY(0%) rotate(270deg);
}
.piece:nth-child(4) .puzzle:before {
    background-position: 0 100%;
    transform: rotate(-270deg);
}

 .puzzle {
	 position: absolute;
	 width: 17.1750480901vmin;
	 height: 17.1750480901vmin;
	 background-color: #000;
	 clip-path: url(#puzzle);
	 opacity: 0.05;
	 transform: translateX(-22.368%) translateY(-22.368%) translateZ(0px) rotateX(0.5turn) rotateY(0.5turn);
	 transition: all 0.95s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.puzzle:before {
    content: "";
    position: absolute;
    width: 17.1750480901vmin;
    height: 17.1750480901vmin;
    background-size: 155.264%;
}
@keyframes init {
    from {
        transform: translateX(0) translateY(0) translateZ(1px) rotateX(0) rotateY(0);

}

}


/* FIN SECTION ACCUEIL PUZZLE */

/* CSS SECTION RESULTAT */


#confetti {
    position: absolute;
    top:0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}

#party-info {
    position: absolute;
    background: rgba(255,255,255,1);
    box-shadow: 10px 10px 10px rgba(255,255,255,0.8);
    padding: 20px;
    margin: 0 auto;
    height: 200px;
    margin-top: -100px;
    top: 50%;
    left: 0;
    right: 0;
    bottom:0;
    text-align: center;
    width: 400px;
    z-index: 2;
    color: gray;
}

/* ZONE DES TYPES DE MISSIONS */
.offcanvas-body{
    text-align: center;
}

.type-button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    border-radius: 20px;
}

.btn{
    background: #E55F50;
    width: 250px;
    height: 100px;
}

/* SECTION PUZZLE RESULTAT ASSO */

.puzzle-final{
    position: relative;
    background-color: #ffff;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 20px;
    border-color: #444;
}

.info-asso{
    padding-left: 5%;
    text-align: center, justify;
}

.result{
    text-align: center;
}

.cols-result{
    display: flex;
    flex-direction: row;
    align-items: center;
}


html .puzzle_wrapper:hover:before, body .puzzle_wrapper:hover:before, html .puzzle_wrapper:hover:after, body .puzzle_wrapper:hover:after {
  z-index: 4;
  opacity: 1;
}
html .puzzle_wrapper:hover .puzzle_1, body .puzzle_wrapper:hover .puzzle_1 {
  transform: translatex(25px) translatey(25px);
}
html .puzzle_wrapper:hover .puzzle_2, body .puzzle_wrapper:hover .puzzle_2 {
  transform: rotate(90deg) translatex(25px) translatey(25px);
}
html .puzzle_wrapper:hover .puzzle_3, body .puzzle_wrapper:hover .puzzle_3 {
  transform: rotate(-90deg) translatex(25px) translatey(25px);
}
html .puzzle_wrapper:hover .puzzle_4, body .puzzle_wrapper:hover .puzzle_4 {
  transform: rotate(180deg) translatex(25px) translatey(25px);
}
html .puzzle_wrapper .puzzle_1, body .puzzle_wrapper .puzzle_1 {
  background-color: #E9041E;
  top: 0px;
  left: 0px;
  z-index: 3;
}
html .puzzle_wrapper .puzzle_1:after, body .puzzle_wrapper .puzzle_1:after, html .puzzle_wrapper .puzzle_1:before, body .puzzle_wrapper .puzzle_1:before {
  background-color: #E9041E;
  top: 190px;
  left: 75px;
}
html .puzzle_wrapper .puzzle_1:before, body .puzzle_wrapper .puzzle_1:before {
  top: calc(50% - 20px);
  left: 190px;
  background-color: #E9041E;
  transform: rotate(-90deg);
}
html .puzzle_wrapper .puzzle_2, body .puzzle_wrapper .puzzle_2 {
  background-color: #000000;
  top: 0px;
  left: 250px;
  transform: rotate(90deg);
}
html .puzzle_wrapper .puzzle_2:after, body .puzzle_wrapper .puzzle_2:after, html .puzzle_wrapper .puzzle_2:before, body .puzzle_wrapper .puzzle_2:before {
  background-color: #ecf0f1;
  top: 200px;
  left: 40px;
}
html .puzzle_wrapper .puzzle_2:before, body .puzzle_wrapper .puzzle_2:before {
  top: calc(50% - 20px);
  left: 160px;
  transform: rotate(90deg);
}
html .puzzle_wrapper .puzzle_2:after, body .puzzle_wrapper .puzzle_2:after {
  top: 160px;
  left: calc(50% - 20px);
  transform: rotate(180deg);
}
html .puzzle_wrapper .puzzle_3, body .puzzle_wrapper .puzzle_3 {
  background-color: #010035;
  top: 250px;
  left: 0;
  z-index: 2;
  transform: rotate(-90deg);
}
html .puzzle_wrapper .puzzle_3:after, body .puzzle_wrapper .puzzle_3:after, html .puzzle_wrapper .puzzle_3:before, body .puzzle_wrapper .puzzle_3:before {
  background-color: #010035;
  top: 190px;
  left: 75px;
}
html .puzzle_wrapper .puzzle_3:before, body .puzzle_wrapper .puzzle_3:before {
  top: calc(50% - 25px);
  left: 160px;
  background-color: #ecf0f1;
  transform: rotate(90deg);
}
html .puzzle_wrapper .puzzle_4, body .puzzle_wrapper .puzzle_4 {
  background-color: #E9041E;
  top: 250px;
  left: 250px;
  z-index: 1;
  transform: rotate(180deg);
}
html .puzzle_wrapper .puzzle_4:after, body .puzzle_wrapper .puzzle_4:after, html .puzzle_wrapper .puzzle_4:before, body .puzzle_wrapper .puzzle_4:before {
  background-color: #E9041E;
  top: 190px;
  left: 80px;
}
html .puzzle_wrapper .puzzle_4:before, body .puzzle_wrapper .puzzle_4:before {
  top: calc(50% - 25px);
  left: 160px;
  background-color: #ecf0f1;
  transform: rotate(90deg);
}
@keyframes circle {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  25% {
    transform: scale(0.9);
    opacity: 0.9;
  }
  70% {
    transform: scale(1.1);
    opacity: 0.95;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

html .puzzle, html .puzzle_wrapper .puzzle_1, html body .puzzle_wrapper .puzzle_1, body .puzzle_wrapper html .puzzle_1, html .puzzle_wrapper .puzzle_2, html body .puzzle_wrapper .puzzle_2, body .puzzle_wrapper html .puzzle_2, html .puzzle_wrapper .puzzle_3, html body .puzzle_wrapper .puzzle_3, body .puzzle_wrapper html .puzzle_3, html .puzzle_wrapper .puzzle_4, html body .puzzle_wrapper .puzzle_4, body .puzzle_wrapper html .puzzle_4, body .puzzle, body html .puzzle_wrapper .puzzle_1, html .puzzle_wrapper body .puzzle_1, body .puzzle_wrapper .puzzle_1, body html .puzzle_wrapper .puzzle_2, html .puzzle_wrapper body .puzzle_2, body .puzzle_wrapper .puzzle_2, body html .puzzle_wrapper .puzzle_3, html .puzzle_wrapper body .puzzle_3, body .puzzle_wrapper .puzzle_3, body html .puzzle_wrapper .puzzle_4, html .puzzle_wrapper body .puzzle_4, body .puzzle_wrapper .puzzle_4 {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50% 0 0 0;
    box-shadow: 0px 0px 20px -5px black;
    transition: all 0.3s ease;
}

html .puzzle:after, html .puzzle_wrapper .puzzle_1:after, html body .puzzle_wrapper .puzzle_1:after, body .puzzle_wrapper html .puzzle_1:after, html .puzzle_wrapper .puzzle_2:after, html body .puzzle_wrapper .puzzle_2:after, body .puzzle_wrapper html .puzzle_2:after, html .puzzle_wrapper .puzzle_3:after, html body .puzzle_wrapper .puzzle_3:after, body .puzzle_wrapper html .puzzle_3:after, html .puzzle_wrapper .puzzle_4:after, html body .puzzle_wrapper .puzzle_4:after, body .puzzle_wrapper html .puzzle_4:after, body .puzzle:after, body html .puzzle_wrapper .puzzle_1:after, html .puzzle_wrapper body .puzzle_1:after, body .puzzle_wrapper .puzzle_1:after, body html .puzzle_wrapper .puzzle_2:after, html .puzzle_wrapper body .puzzle_2:after, body .puzzle_wrapper .puzzle_2:after, body html .puzzle_wrapper .puzzle_3:after, html .puzzle_wrapper body .puzzle_3:after, body .puzzle_wrapper .puzzle_3:after, body html .puzzle_wrapper .puzzle_4:after, html .puzzle_wrapper body .puzzle_4:after, body .puzzle_wrapper .puzzle_4:after, html .puzzle:before, html .puzzle_wrapper .puzzle_1:before, html body .puzzle_wrapper .puzzle_1:before, body .puzzle_wrapper html .puzzle_1:before, html .puzzle_wrapper .puzzle_2:before, html body .puzzle_wrapper .puzzle_2:before, body .puzzle_wrapper html .puzzle_2:before, html .puzzle_wrapper .puzzle_3:before, html body .puzzle_wrapper .puzzle_3:before, body .puzzle_wrapper html .puzzle_3:before, html .puzzle_wrapper .puzzle_4:before, html body .puzzle_wrapper .puzzle_4:before, body .puzzle_wrapper html .puzzle_4:before, body .puzzle:before, body html .puzzle_wrapper .puzzle_1:before, html .puzzle_wrapper body .puzzle_1:before, body .puzzle_wrapper .puzzle_1:before, body html .puzzle_wrapper .puzzle_2:before, html .puzzle_wrapper body .puzzle_2:before, body .puzzle_wrapper .puzzle_2:before, body html .puzzle_wrapper .puzzle_3:before, html .puzzle_wrapper body .puzzle_3:before, body .puzzle_wrapper .puzzle_3:before, body html .puzzle_wrapper .puzzle_4:before, html .puzzle_wrapper body .puzzle_4:before, body .puzzle_wrapper .puzzle_4:before {
  content: '';
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 0 0 50% 50%;
  transition: all 0.3s ease;
}

html .puzzle_wrapper, body .puzzle_wrapper {
  height: 450px;
  width: 450px;
  position: relative;
  margin: 100px auto;
}
html .puzzle_wrapper:before, body .puzzle_wrapper:before, html .puzzle_wrapper:after, body .puzzle_wrapper:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 105%;
    background: url('https://picsum.photos/id/1/200/300');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    border-radius: 50px;
    transition: opacity 0.3s ease;
    border-radius: 20px 0px 20px 20px;
    box-shadow: 5px 5px 20px -5px #333;
}
html .puzzle_wrapper:hover, body .puzzle_wrapper:hover {
    cursor: pointer;
    animation: circle 0.3s ease-in 0.3s 1;
}

/* FIN CODE PUZZLE ASSSO */

